<div id="navbar-wrapper" style="position: fixed;">
    <nav class="navbar navbar-inverse navbar-custom">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="/" class="navbar-brand"><b>CMS VITS</b></a>
            </div>
        </div>
    </nav>
</div>