body {
  padding-bottom: 30px;
  position: relative;
  min-height: 100%;
}

a {
  transition: background 0.2s, color 0.2s;
}

a:hover,
a:focus {
  text-decoration: none;
}

.navbar-custom {
  background: #933993 !important;
}

.header img {
  float:left;
  padding-left: 25px;
  width: 65px;
  height: 40px;
}

.hidden {
  display: none;
}
